.container > .MuiPaper-root{
  margin: 15px;
  padding: 10px;
}

.container:last-child {
  display: inline;
}

.acceptedCurrency {
  display: flex;
}

.acceptedCurrency p{
  margin: 0;
}
.acceptedCurrency ul{
  padding-left: 12px;
  margin: 0;
}
.acceptedCurrency li{
 list-style: none;
}