.converterContainer {
  width: 40%;
}

.converterContainer > .MuiPaper-root {
  text-align: center;
  padding-bottom: 15px;
}

.converterContainer h4 {
  display: inline-flex;
}

.converterItems {
  display: flex;
  justify-content: center;
}

.converterItems > input{
  margin: 0 15px;
}

@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .converterContainer {
      width: 100%;
  }
}