.converterContainer > .MuiPaper-root {
  text-align: center;
  padding-bottom: 15px;
}

.converterContainer h4 {
  display: inline-flex;
}

.converterItems {
  display: flex;
  justify-content: center;
}

.converterItems > input{
  margin: 0 15px;
}