 .App {
  margin: auto;
  padding: 10px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .App {
      margin: auto;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
}